[submodule "external/Logger"]
	path = external/Logger
	url = https://github.com/paulbeerkens/Logger.git
[submodule "external/libWebServer"]
	path = external/libWebServer
	url = https://github.com/paulbeerkens/libWebServer.git
